<div class="container w-full mx-auto my-40">
    
    <div class="mt-10" *ngIf="listadoRutinas.length > 0; else noHayEmpleados">
      <h1 class="text-4xl text-center font-bold mb-10">Listado de Rutinas</h1>
      <div class="flex flex-wrap gap-10">
        <div *ngFor="let rutina of listadoRutinas; let i = index" id="div{{rutina.id}}" class="w-96 h-56 p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
          <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">{{rutina.rutina}}</h5>
          <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">Ya estás listo para crear nuevos ejercicios</p>

          <button id="dropdownDefaultButton" (click)="btn_toggle(rutina.id)" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Mostrar opciones <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </button>


          <div id="dropdown{{rutina.id}}" class="z-10 hidden mx-auto mt-2 divide-y divide-gray-100 rounded-lg shadow w-44 ">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 flex flex-col gap-2" aria-labelledby="dropdownDefaultButton">
              <li>
                <a class="px-4 w-1/2 ml-auto block py-2 bg-green-500 text-white rounded-md" [routerLink]="['/auth/' + rutina.id + '/listado-ejercicios']">Ejercicios</a>
              </li>
              <li>
                <a class="px-4 w-1/2 ml-auto block py-2 bg-red-500 text-white rounded-md cursor-pointer" (click)="eliminarRutina(rutina.id)">Eliminar</a>
              </li>
              <li>
                <a class="px-4 w-1/2 ml-auto py-2 block bg-blue-500 text-white rounded-md" [routerLink]="['/auth/actualizar-rutina/' + rutina.id]">Actualizar</a>
              </li>
            </ul>
        </div>

        </div>
      </div>
    </div>
  
 

    <ng-template #noHayEmpleados>
        <div class="w-96 mx-auto rounded bg-purple-600 p-5 text-white">
          <h3 class="text-2xl font-bold text-center mb-4">Todavía no tienes rutinas</h3>
          <a href="/auth/crear-rutina" class="bg-purple-950 block w-1/2 mx-auto text-white py-2 text-center px-4 rounded">Crear una nueva</a>
        </div>
    </ng-template>
  </div>
